@import "theme-colors.css";

/** Thin */
@font-face {
	font-family: "San Francisco";
	font-weight: 100;
	src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff");
}

/** Regular */
@font-face {
	font-family: "San Francisco";
	font-weight: 300;
	src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

/** Medium */
@font-face {
  font-family: "San Francisco";
  font-weight: 500;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff");
}

/** Bold */ 
@font-face {
	font-family: "San Francisco";
	font-weight: 700;
	src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff");
}

html, body {
	text-align: center;
	height: 100%;
}

hr
{
	border: 1px solid #f0f0f0;
}

.wrap {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

body {
	font-family: "San Francisco", "Helvetica";
	font-weight: 400;
	font-size: 15px;
	background: var(--theme-background);
	color: var(--theme-text);
}

h1,h2,h3,h4,h5,h6
{
	font-weight: 800;
	font-size: 34px;
}

.theme
{
	color: var(--theme-primary);
}

.button
{
	width: 80%;
	height: 64px;
	line-height: 1.5;
	font-size: 14px;
	font-weight: 600;
	color: #fff;
	margin: 12px;
	background-color: var(--theme-primary);
	border: none;
	border-radius: 45px;
	cursor: pointer;
	outline: none;
}

.button .details
{
	font-weight: 300;
}

.fbbrHt
{
	box-sizing: border-box;
	overflow: visible;
	margin-left: auto;
	margin-right: auto;
	padding-left: 16px;
	padding-right: 16px;
	position: relative;
	max-width: 1442px;
	width: 100%;
	flex: 1 0 auto;
	min-height: 500px;
}

.meta
{
	color: var(--theme-text-hidden);
	font-size: 12px;
}
