@import "theme-colors.css";

/** Thin */
@font-face {
	font-family: "San Francisco";
	font-weight: 100;
	src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff");
}

/** Regular */
@font-face {
	font-family: "San Francisco";
	font-weight: 300;
	src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

/** Medium */
@font-face {
  font-family: "San Francisco";
  font-weight: 500;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff");
}

/** Bold */ 
@font-face {
	font-family: "San Francisco";
	font-weight: 700;
	src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff");
}

h1,h2,h3,h4,h5,h6
{
	font-weight: 800;
	font-size: 34px;
	color: #000;
}

body {
	font-family: "San Francisco", "Helvetica";
	font-weight: 400;
	font-size: 15px;
	background: var(--theme-background);
	color: var(--theme-text);
}

html, body {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.title
{
	
}

.main
{
	max-width: 80%;
	margin: auto;
}

.theme
{
	color: var(--theme-primary);
}

.button
{
	width: 80%;
	height: 64px;
	line-height: 1.5;
	font-size: 14px;
	font-weight: 600;
	color: #fff;
	background-color: var(--theme-primary);
	border: none;
	border-radius: 32px;
	cursor: pointer;
}

.button .details
{
	font-weight: 400;
}

.app-icon
{
	max-height: 1%;
	max-width: 8em;
	height: auto;
	width: auto\9; /* ie8 */
	border-radius: 22.5%;
}

#description
{
	margin: 24px 0px 40px;
}

#meta
{
	color: var(--theme-text-hidden);
	font-size: 12px;
	margin: 24px 0px 40px;
}