@import "theme-colors.css";

/** Fonts */
@font-face {
	font-family: "San Francisco";
	font-weight: 100;
	src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff");
}
@font-face {
	font-family: "San Francisco";
	font-weight: 300;
	src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}
@font-face {
  font-family: "San Francisco";
  font-weight: 500;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff");
}
@font-face {
	font-family: "San Francisco";
	font-weight: 700;
	src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff");
}
/** --- */

* {
	margin: 0;
}

body {
	color: var(--text-primary-color);
	background: var(--background-color);
	font-family: "San Francisco", "Helvetica";
	font-weight: 400;
	font-size: 15px;
}

html, body {
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
	text-align: center;
}

h1,h2,h3,h4,h5,h6
{
	font-weight: 800;
	font-size: 2.5em;
	color: var(--text-important-color);
}

.theme
{
	color: var(--theme-primary-color);
}

.page {
	max-width: 80%;
}

.app-icon
{
	max-width: 8em;
	height: auto;
	width: auto\9; /* ie8 */
	border-radius: 22.5%;
}

.downloads
{
	margin: 1em 0 1em;
	width: 100%;
}

.button
{
	width: 80%;
	height: 64px;
	line-height: 1.2;
	font-size: 1em;
	font-weight: 600;
	color: #fff;
	background-color: var(--theme-primary-color);
	border: none;
	border-radius: 32px;
	cursor: pointer;
}
.button .details
{
	font-weight: 400;
	font-size: 0.75em;
}

#icon
{
	margin: 1em 0 1em;
}

#meta
{
	color: var(--text-secondary-color);
	font-size: 0.75em;
}

